// Table of contents
// 1. Media breakpoints
// 2. Media query
// 3. Min

// 1. Media breakpoints
$minMobileMdWidth: 360px;
$minMobileBigMdWidth: 450px;
$minTabletWidth: 768px;
$minDesktopSmallWidth: 992px;
$minDesktopLargeWith: 1260px;
$minDesktopWidWidth: 1660px;

// 2. Media query
@mixin mediaQueryMin($minWidth) {
    @media only screen and (min-width: $minWidth) {
        @content;
    }
}

@mixin mediaQueryMax($maxWidth) {
    @media only screen and (max-width: $maxWidth) {
        @content;
    }
}

@mixin mediaQueryBetween($minWidth, $maxWidth) {
    @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        @content;
    }
}

// 3. Min
@mixin min360px {
    @include mediaQueryMin($minMobileMdWidth) {
        @content;
    }
}

@mixin min450px {
    @include mediaQueryMin($minMobileBigMdWidth) {
        @content;
    }
}

@mixin min768px {
    @include mediaQueryMin($minTabletWidth) {
        @content;
    }
}

@mixin min992px {
    @include mediaQueryMin($minDesktopSmallWidth) {
        @content;
    }
}

@mixin min1260px {
    @include mediaQueryMin($minDesktopLargeWith) {
        @content;
    }
}

@mixin min1660px {
    @include mediaQueryMin($minDesktopWidWidth) {
        @content;
    }
}