// Table of contents
$c-0: #f8f8f8;
$c-1: #F4F6F5;
$c-2: #83ddd8;
$c-3: #F0B5Bf;
$c-4: #45B7B0;
$c-5: #42A9A5;
$c-6: #F68EA2;
$c-7: #F2759D;
$c-8: #664A89;
$c-9: #633977;
$c-10: #aaaaaa;


$body-bg: $c-1;
$body-dark-bg: $c-2;
$body-pink: $c-3;

// BUTTONS
$ok-button-color: $c-0;
$ok-button-background: $c-4;
$hover-ok-button-background: $c-5;

$cancel-button-color: $c-0;
$cancel-button-background: $c-6;
$hover-cancel-button-background: $c-7;

$neutral-button-color: $c-0;
$neutral-button-background: $c-8;
$hover-neutral-button-background: $c-9;

// MENU
$menu-color: $c-0;
$menu-active-color: $c-8;

// CARDS
$card-shadow: 12px 9px 20px 0px #4a2dc542;
$card-border: 1px solid #ed00ff3d !important;
$card-color: $c-0;
// PURPLE CARD
$card-purple-bg: $c-8;
$card-purple-title-border: $c-9;
$card-purple-hover-bg: $c-9;
$card-purple-hover-title-border: $c-8;
// PINKG CARD
$card-pink-bg: $c-6;
$card-pink-title-border: $c-7;
$card-pink-hover-bg: $c-7;
$card-pink-title-hover-border: $c-6;
// TEAL CARD
$card-teal-bg: $c-4;
$card-teal-title-border: $c-5;
$card-teal-hover-bg: $c-5;
$card-teal-hover-title-border: $c-4;